:root {
    --color-background: #f7f9ff;
    --color-reflex: #272B6F;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #ffbf00;
    --color-secondary: #fff2cc;
    --color-white: #fff;
    --color-red: #e74c3c;
    --color-bluehover: #37c8ff;
    --color-separate: #cccccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: var(--color-background);
    color: var(--color-text);
}

body {
    margin: 0;
    padding: 0;
}

ul, ol, li{
    list-style-type: none;  /* Remove as marcas de lista (como os pontos ou números) */
    margin: 0;              /* Remove a margem padrão */
    padding: 0;             /* Remove o preenchimento padrão */
}

/*alinha o texto e muda a cor da mensagem q fica no topo*/
.mensagemTopo {
    display: flex;
    background-color: var(--color-reflex);
    padding-top: 3px;
    justify-content: center;
    color: var(--color-white);

}
/* Centralizando a seção .header */
header {
    width: 100%;
    background-color: #f8f9fa;  /* Cor de fundo do menu */
    /*padding: 10px 0;*/
    display: flex;
    justify-content: center;    /* Centraliza o conteúdo horizontalmente */
    align-items: center;        /* Centraliza o conteúdo verticalmente */
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    justify-content: center;    /* Centraliza o conteúdo horizontalmente */
    align-items: center;        /* Centraliza o conteúdo verticalmente */
    width: 100%;
    }

/* Flexbox para o menu */
.menuTopTexto {
    display: flex;               /* Alinha os itens em linha horizontal */
    justify-content: center;     /* Centraliza os itens horizontalmente */
    align-items: center;         /* Alinha os itens verticalmente no centro */
    list-style-type: none;       /* Remove os marcadores da lista */
}

/* Estilos para os itens da lista */
.menuTopTexto li {
    margin-right: 20px;          /* Espaçamento entre os itens */
    /*margin: 0;*/
}

/* Estilos para os links do menu */
.nav-link {
    text-decoration: none;       /* Remove o sublinhado do link */
    color: #333;                 /* Cor do texto */
    font-weight: normal;         /* Define a espessura da fonte */
    display: flex;               /* Garante que o link tenha o mesmo tamanho que os itens */
    align-items: center;         /* Alinha o texto na mesma altura */
    font-size: 1.3rem;             /* Tamanho da fonte */
    height: 40px;
    padding: 50px;
    margin: 0;
}

/* Efeito hover no link */
.nav-link:hover {
    color: var(--color-bluehover);              /* Cor do texto quando passar o mouse */
    transform: scale(1.1);
}

/* Logo */
.navbar-brand {
    margin-right: 10%;          /* Espaçamento entre o logo e o primeiro item */

}

/* Ajuste do logo */
.img-logo {
    max-width: 300px;            /* Limita a largura do logo */
    height: auto;                /* Mantém a proporção do logo */
}


.barraAzul {
    width: 100%;
    height: 10px;
    background: var(--color-reflex);
    color: var(--color-reflex);
    margin: 0;

}

.contatoTop {
    background: var(--color-reflex);
    color: var(--color-white);
    border-radius: 20px;
    transition: 0.4s;
    }

.contatoTop:hover {
    background: var(--color-bluehover);
    color: var(--color-reflex);
    border-radius: 20px;
}

/* Estilos para a seção hero */
.hero-section {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.small-text {
    font-size: 0.9rem;
    color: #666;
}

.display-4 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 40px;
}

.lead {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 40px;

}

.hero-section .btn-primary {
    background-color:var(--color-reflex);
    border-color:var(--color-reflex);
    font-size: 1rem;
}

.hero-image {
    border-radius: 50px 0px 0px 0px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-completa {
    width: 100px;
}

/* Estilos para a seção features */
.features-section {
    padding: 60px 0;
    background-image: url('/img/Banner-macroflex-principal-1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;

}
.card-fundo-direita{
    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: #4e555b;
    border-radius: 8px;
}

.feature-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    color: #333;
}

.feature-card ul {
    padding: 0;
}

.feature-card li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.feature-card li i {
    color: #007bff;
    margin-right: 10px;
}

.feature-title {
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: right;

}

.feature-description {
    font-weight: normal;
    font-size: 1.5rem;
    color: var(--color-white);
    margin-top: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    text-align: right;


}

/* Estilos para a seção de clientes */
.clients-section {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.clients-section h2 {
    font-size: 2rem;
    color: #1a2a45;
    margin-bottom: 40px;
}

.carousel-container {
    padding: 10px 0;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    white-space: nowrap;
}

.carousel {
    display: inline-block;
    animation: 30s slide infinite linear;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.carousel-container:hover .carousel {
    animation-play-state: paused;
}

.carousel img {
    height: 100%    ;
    margin: 40px;
    transition: all 0.4s;
}

.carousel img:hover {
    transform: scale(1.2);
}

.parceiros {
    margin-top: 20px;
}

.testimonials {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    color: var(--color-reflex);
}

.testimonial-card {
    gap: 20px;
    width: 300px;
    height: 400px;
    background: var(--color-white);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.testimonial-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    border: 2px solid #ddd;
}

.testimonial-text {
    font-size: 0.9rem;
    font-style: italic;
    color: #555;
    text-align: center;
    margin-bottom: 1rem;
}

.stars i {
    margin-right: 0.2rem;
}

.author {
    font-weight: bold;
    color: #333;
}

.orcamento {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-reflex); /* Cor de fundo opcional */
    padding: 40px;
    color: var(--color-white);


}

.orcamento_div {
    display: flex;
    align-items: center;
    gap: 100px; /* Espaçamento entre o texto e o botão */
}

.orcamento_div h2 {
    margin: 0; /* Remove margens padrão */
    font-size: 1.5rem; /* Ajusta o tamanho do texto */
    font-weight: bold;
}

.orcamento_div button {
    padding: 10px 20px; /* Ajuste de tamanho do botão */
    font-size: 1rem;
    border: none;
    background-color: #007bff; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: 0.3s;
}

.orcamento_div button:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


footer {
    width: 100%;
    color: var(--color-white);
    background: var(--color-reflex);

}

.footer-link {
    text-decoration: none;
}

.footer_content {
    background-color: var(--color-reflex);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

.footer_contacts h1{
    margin-bottom: 0.75rem;
}

.footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}


.footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 2.5rem;
    color: var(--color-white);
    border-radius: 50%;
    transition: all 0.4s;
}
.footer_social_media .footer-link i{
    font-size: 1.25rem;
}


.footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3 !important;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: var(--color-white);
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: var(--color-bluehover);
    text-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#footer_subscribe p {
    color: var(--color-white);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--gray-dark);
    border-radius: 4px;
}


#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: var(--color-text-out);
    border: none;
    color: var(--color-white);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 3rem;
    border-radius: 0 4px 4px 0;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
    font-size: 1.5rem;
}

.footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--gray-dark);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaçamento entre as fotos */
    margin: 40px 0; /* Margem superior e inferior */
    /*background-color: var(--color-separate);*/
    height: 410px !important;
}

.galeria_item {
    text-align: center;
    position: relative;
    width: 300px; /* Largura de cada item */
}

.galeria_item p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-reflex);
    margin-bottom: 30px;
    transition: transform 0.3s ease; /* Efeito suave */

}

.galeria_item img {
    width: 100%; /* Ajusta a largura ao container */
    height: 280px; /* Altura fixa */
    object-fit: cover; /* Garante que a imagem preencha sem distorção */
    transition: transform 0.3s ease; /* Efeito suave */
    border-radius: 10px; /* Bordas arredondadas (opcional) */
    background-color: var(--color-white);
}

.galeria_item img:hover {
    transform: scale(1.1); /* Efeito de zoom */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra no hover */
}

.galeria_item p:hover {
    transform: scale(1.1);
}







@media screen and (max-width: 768px) {
    .footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap:2rem;
    }

    .orcamento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--color-reflex);

    }

    .orcamento_div {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin:  0;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;

    }
}




/* Responsividade */
@media (max-width: 768px) {
    .client-logo {
        width: 100px;
        margin: 0 15px;
    }
}
